
/*Padding at top of body to prevent fixed nav from overlapping main content.*/
body {
	padding-top: 90px;
}

.navbar {
	height: 80px;
}

.container {
	margin-top: 10px;

}

.logo {
	/*float: left;*/
  display: inline-block;
  text-align: left;
}

.checkboxes{
	padding-left: 114px;
  padding-top: 10px;
}

.checkboxes .checks {
	padding: 0 10px 20px 10px;
	margin: 5px;
}

/*Dark Theme mode*/
.darkTheme {
  background-color: #264a60;
  color: #eeeaea;
}

.largeText {
  font-size: 2em;
}

  /*  Message Container */

.messageContainer {
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
}
